
@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<div class="text-center text-danger" style="font-family:'Comic Sans MS'; font-size:25px">
   <h1> <strong>@Html.Raw(ViewBag.sonuc)</strong></h1>
</div>
